%nav.navbar.navbar-default.opal-nav(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="#{environment == :build ? '/TryRuby' : '/'}")
        TryRuby
        %sup= 'R4'
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#opal-navbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #opal-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a(href="#{environment == :build ? '/TryRuby/articles' : '/articles'}")
            %span(class="glyphicon glyphicon-book" aria-hidden="true")
            Articles
        %li
          %a(href="#{environment == :build ? '/TryRuby/playground' : '/playground'}")
            %span(class="glyphicon glyphicon-tower" aria-hidden="true")
            Playground
        %li
          %a(href="#{environment == :build ? '/TryRuby/about' : '/about'}")
            %span(class="glyphicon glyphicon-info-sign" aria-hidden="true")
            About
